<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>example - page1</title>
        <link rel="stylesheet" href="/page1/index.css">
</head>
<body>
    <div class="box">
        <div class="box__img">
            <img src="https://img3.doubanio.com/f/book/8f7e91543b899c4cc2e85b28f7e6152729411484/pics/nav/lg_book@2x.png">
        </div>
        <div class="box__main">
            <input class="box__input" type="text" name="search" id="searchbook">
            <div class="box__content" id="content"></div>
        </div>
    </div>
    <script src="/page1/bundle.js"></script>
        <script src="/reload/reload.js"></script>
</body>
</html>
