<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>example - page2</title>
    <% if (env === "production") { %>
        <link rel="stylesheet" href="/page2/index.css">
    <% } %>
</head>
<body>
    <label for="book">search book</label>
    <input type="text" name="book" id="book">
    <button id="btn">send</button>
    <div id="content" style="width:500px;height:500px;margin-top:30px;"></div>
    <script src="/page2/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>
</html>
